[Unit]
Description=Manually Trigger Composite Alert (FortiCNAPP Demo)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/manually_trigger_composite_alert.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
